<!DOCTYPE html>
<html lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>jobs</title>
    <meta name="title" content="jobs">
    <meta name="description" content="">
    <meta name="author" content="FrontEnd Labs">
    <meta name="DC.Title" content="jobs">
    <meta name="DC.Contributor" content="myPage.com">
    <meta name="DC.Creator" content="myPage.com">
    <meta name="DC.Description" content="">
    <meta name="DC.Language" content="es">
    <meta name="DC.Publisher" content="Publisher">
    <meta name="geo.placename" content="Cercado de Lima">
    <meta name="geo.position" content="-12.0478;-77.0622">
    <meta name="geo.region" content="PE-LIM">
    <meta name="ICBM" content="-12.0478, -77.0622">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="../../img/logo_fb.png?1448662951333">
    <meta property="og:image:height" content="250">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="250">
    <meta property="og:site_name" content="Name of page">
    <meta property="og:title" content="myPage.com">
    <meta property="og:type" content="../../">
    <meta property="og:url" content="../../">
    <link href="../../css/layout/fonts.css?1448662951333" media="all" rel="stylesheet" type="text/css">
    <link href="../../css/layout/layout.css?1448662951333" media="all" rel="stylesheet" type="text/css">
    <link href="../../css/views/index.css?1448662951333" media="all" rel="stylesheet" type="text/css">
    <link href="../../css/views/job.css?1448662951333" media="all" rel="stylesheet" type="text/css">
    <link href="../../images/favicon.ico?1448662951333" rel="icon" type="image/vnd.microsoft.icon">
    <link href="../../images/favicon.ico?1448662951333" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="../../images/favicon.ico?1448662951333" rel="shortcut icon" type="image/x-icon">
    <link href="../../img/logo_fb.png?1448662951333" rel="image_src" type="image/jpeg">
    <link href="http://fonts.googleapis.com/css?family=Source+sans+pro:200,600" rel="stylesheet" type="text/css"><!--[if lte IE 9]>
    <link href="../../css/ie/ie.css?1448662951333" media="all" rel="stylesheet" type="text/css">
    <script src="../../js/libs/selectivizr/selectivizr.js?1448662951333"></script><![endif]-->
  </head>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-111111', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <body>
    <header>
      <div class="container">
        <div class="nav"><a href="/" class="logo"> 
            <u>jobs</u><span>de FrontendLabs.io</span></a><a href="javascript:;">Login</a><a href="javascript:;" class="btn">Publicar empleo</a></div>
      </div>
      <div class="filter-search">
        <div class="container">
          <div class="search-bar"><span class="icon icon-search"></span>
            <input type="text" placeholder="Buscar">
          </div>
          <div class="location">
            <div class="select"><i class="icon icon-location"></i>
              <select>
                <option>Todos los lugares</option>
                <option>Perú</option>
                <option>España</option>
              </select>
            </div>
          </div>
          <div class="job-type">
            <label> 
              <input id="chkFreelance" type="checkbox" name="chkJobType" checked="checked">Freelance<span class="control-indicator icon icon-check freelance"></span>
            </label>
            <label> 
              <input id="chkFulltime" type="checkbox" name="chkJobType" checked="checked">Full-time <span class="control-indicator icon icon-check fulltime"></span>
            </label>
            <label> 
              <input id="chkParttime" type="checkbox" name="chkJobType">Part-time <span class="control-indicator icon icon-check parttime"></span>
            </label>
          </div>
        </div>
      </div>
    </header>
    <div class="share-button"><span class="icon icon-share"></span><a href="javascript:;" class="icon icon-fb"></a><a href="javascript:;" class="icon icon-twitter"></a><a href="javascript:;" class="icon icon-email"></a></div>
    <div class="job-detail-title"><a href="javascript:;" class="job-company-logo"> <img src="http://www.doz.com/cms/wp-content/uploads/2015/03/airbnb-logo.png"></a>
      <div class="container">
        <h2 class="title">Desarrollador Front-end Junior</h2><a href="javascript:;" class="job-company">Airbnb Inc.</a><span class="job-type fulltime">Full-time</span><a href="../" class="see-list hide">← Ver todos</a>
      </div>
    </div>
    <div class="container">
      <div class="main-content">
        <h3>Descripción del empleo</h3>
        <p>Nos encontramos en búsqueda de desarrolladores Web Front-End Senior o Semi-Senior con  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repudiandae aliquam facilis saepe dicta et, architecto asperiores rem enim, dolorum voluptatum, corrupti harum fugiat consequatur obcaecati ipsam eaque reiciendis beatae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat incidunt placeat quo natus vero obcaecati minima accusamus eveniet quod quos molestiae optio voluptatem suscipit praesentium culpa, quas laudantium, sint, assumenda.</p>
        <h3>Requisitos indispensables</h3>
        <ul> 
          <li>HTML5 / CSS3</li>
          <li>JavaScript / JQuery Desktop y Mobile</li>
          <li>AngularJS, NodeJS</li>
          <li>Integración con API's de Facebook, Twitter, Google+, LinkedIn</li>
          <li>Normalize, Modernizr</li>
        </ul>
        <h3>Requisitos deseables</h3>
        <ul> 
          <li>HTML5 / CSS3</li>
          <li>JavaScript / JQuery Desktop y Mobile</li>
          <li>AngularJS, NodeJS</li>
          <li>Integración con API's de Facebook, Twitter, Google+, LinkedIn</li>
          <li>Normalize, Modernizr</li>
        </ul>
        <h3>Ofrecemos</h3>
        <ul>
          <li>Excelente ambiente laboral</li>
          <li>Ingreso a planilla con beneficios de Ley</li>
          <li>EPS Rimac al 50%</li>
          <li>Proyectos y retos constantes</li>
          <li>Capacitaciones, crecimiento profesional real</li>
          <li>Uso irrestricto de internet para la constante investigación</li>
          <li>Uso de equipos PC / Mac / Smartphones / Tabletas para el mejor desarrollo de los proyectos</li>
          <li>Sueldo básico entre 3000 a 4500 nuevos soles bruto, de acuerdo a experiencia, calificación y proyección.</li>
        </ul>
        <h3>Cómo postular</h3>
        <p>Envía un correo a <a href="mailto:jobs@airbnb.com">jobs@airbnb.com</a> con el asunto Desarrollador front-end</p>
      </div>
      <div class="sidebar">
        <div class="about-job-post">
          <div class="logo-container hide"> <img src="http://www.doz.com/cms/wp-content/uploads/2015/03/airbnb-logo.png"></div>
          <div class="about-content">
            <h3 class="company-name hide">Airbnb Inc.</h3>
            <p class="description hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ex animi voluptates voluptatem culpa, necessitatibus ut, hic nesciunt exercitationem, quis voluptas, nam fugiat repellendus illum aliquid tempore eius. Est, dolor.</p>
            <h3>Más información</h3>
            <p><span class="icon icon-time"> </span>Publicado el 29 Febrero</p>
            <p><span class="icon icon-location"></span>Lima, Perú</p><a href="http://airbnb.com" target="_blank"> <span class="icon icon-link"> </span>www.airbnb.com</a><a href="http://twitter.com/airbnb" target="_blank"> <span class="icon icon-twitter"></span>@airbnb</a>
          </div>
        </div>
        <div class="fel-ad"></div>
        <div class="fel-ad"></div>
      </div>
    </div>
    <footer></footer>
    <script src="../../js/libs/jquery/dist/jquery.min.js?1448662951333" type="text/javascript"></script>
    <script src="../../js/libs/utils.js?1448662951333" type="text/javascript"></script>
    <script src="../../js/sections/home/home.js?1448662951333" type="text/javascript"></script>
  </body>
</html>