.hvr.fulltime:before {
  background: #9013fe;
}
.hvr.parttime:before {
  background: #00c458;
}
.hvr.freelance:before {
  background: #00affe;
}
.job-box {
  padding: 20px 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-bottom: 1px dashed #e1e1e1 !important;
  color: inherit;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.job-box:hover {
  background: #fdfdfd;
  color: #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.job-box .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.job-box .container > span {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .job-box .container > span {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
  }
}
.job-box a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.job-box a:hover {
  color: #000;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.job-box .job-description {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important;
  width: 45%;
  text-align: left !important;
}
@media only screen and (max-width: 400px) {
  .job-box .job-description {
    width: 100%;
  }
}
.job-box .job-title {
  font-size: 1.3rem;
  display: block;
  line-height: 1.2;
}
.job-box .job-type {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 10px;
  padding: 3px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.job-box.fulltime .job-type {
  background: #9013fe;
}
.job-box.parttime .job-type {
  background: #00c458;
}
.job-box.freelance .job-type {
  background: #00affe;
}
