<!DOCTYPE html>
<html lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>jobs</title>
    <meta name="title" content="jobs">
    <meta name="description" content="">
    <meta name="author" content="FrontEnd Labs">
    <meta name="DC.Title" content="jobs">
    <meta name="DC.Contributor" content="myPage.com">
    <meta name="DC.Creator" content="myPage.com">
    <meta name="DC.Description" content="">
    <meta name="DC.Language" content="es">
    <meta name="DC.Publisher" content="Publisher">
    <meta name="geo.placename" content="Cercado de Lima">
    <meta name="geo.position" content="-12.0478;-77.0622">
    <meta name="geo.region" content="PE-LIM">
    <meta name="ICBM" content="-12.0478, -77.0622">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="../../img/logo_fb.png?1459298875671">
    <meta property="og:image:height" content="250">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="250">
    <meta property="og:site_name" content="Name of page">
    <meta property="og:title" content="myPage.com">
    <meta property="og:type" content="../../">
    <meta property="og:url" content="../../">
    <link href="../../css/layout/fonts.css?1459298875671" media="all" rel="stylesheet" type="text/css">
    <link href="../../css/layout/layout.css?1459298875671" media="all" rel="stylesheet" type="text/css">
    <link href="../../css/views/default.css?1459298875671" media="all" rel="stylesheet" type="text/css">
    <link href="../../images/favicon.ico?1459298875671" rel="icon" type="image/vnd.microsoft.icon">
    <link href="../../images/favicon.ico?1459298875671" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="../../images/favicon.ico?1459298875671" rel="shortcut icon" type="image/x-icon">
    <link href="../../img/logo_fb.png?1459298875671" rel="image_src" type="image/jpeg">
    <link href="http://fonts.googleapis.com/css?family=Source+sans+pro:200,600" rel="stylesheet" type="text/css"><!--[if lte IE 9]>
    <link href="../../css/ie/ie.css?1459298875671" media="all" rel="stylesheet" type="text/css">
    <script src="../../js/libs/selectivizr/selectivizr.js?1459298875671"></script><![endif]-->
  </head>
  <link href="../../js/libs/animate.css/animate.min.css?1459298875671" media="all" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-111111', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <body>
    <div class="modal login-box">
      <div class="modal-content">
        <h2>Login</h2>
        <form>
          <div class="frm-group">
            <label>Email</label>
            <input type="email" placeholder="Ingrese su email" data-label="Email" required class="floatlabel">
          </div>
          <div class="frm-group">
            <label>Contraseña</label>
            <input type="password" placeholder="Ingrese su contraseña" data-label="Contraseña" required class="floatlabel">
          </div>
          <button type="submit" class="btn-login">Ingresar</button><a class="lnk-forgot-password">Olvidé mi contraseña</a><a href="javascript:;" class="close-modal">&times;</a>
        </form>
      </div>
    </div>
    <header>
      <div class="container header-top">
        <div class="nav"><a href="/" class="logo"> 
            <u>jobs</u><span>de FrontendLabs.io</span></a><a href="javascript:;" class="lnk-login">Login</a><a href="javascript:;" class="btn">Publicar empleo</a></div>
      </div>
      <div class="filter-search">
        <div class="container"><a href="/" class="logo"> 
            <u>jobs</u></a>
          <div class="search-bar"><span class="icon icon-search"></span>
            <input type="text" placeholder="Buscar">
          </div><span class="icon icon-filter"></span>
          <div class="location hide-filter">
            <div class="select"><i class="icon icon-location"></i>
              <select>
                <option>Todos los lugares</option>
                <option>Perú</option>
                <option>España</option>
              </select>
            </div>
          </div>
          <div class="job-type hide-filter">
            <label> 
              <input id="chkFreelance" type="checkbox" name="chkJobType" checked="checked">Freelance<span class="control-indicator icon icon-check freelance"></span>
            </label>
            <label> 
              <input id="chkFulltime" type="checkbox" name="chkJobType" checked="checked">Full-time <span class="control-indicator icon icon-check fulltime"></span>
            </label>
            <label> 
              <input id="chkParttime" type="checkbox" name="chkJobType">Part-time <span class="control-indicator icon icon-check parttime"></span>
            </label>
          </div>
        </div>
      </div>
    </header>
    <footer></footer>
    <script src="../../js/libs/jquery/dist/jquery.min.js?1459298875671" type="text/javascript"></script>
    <script src="../../js/libs/utils.js?1459298875671" type="text/javascript"></script>
    <script src="../../js/libs/animateCSS/dist/jquery.animatecss.min.js?1459298875671" type="text/javascript"></script>
    <script src="../../js/libs/floatlabel.js/floatlabels.min.js?1459298875671" type="text/javascript"></script>
    <script src="../../js/sections/sections.js?1459298875671" type="text/javascript"> </script>
    <script src="../../js/sections/default.js?1459298875671" type="text/javascript"> </script>
  </body>
</html>