/*
* Config
* @class Config
*/

/* Paths */
$imgPath        = '../../images/'
$fontPath      	= '../../fonts/'

rupture.mobile-cutoff = 800px

/* font family variables */
$familyPrimary = "Source sans pro","Open sans", "Lato", "Arial", sans-serif
$familySecondary = 'arial', 'sans-serif'
$basefont = 16px
$tabletfont = 13px
$mobilefont = 15px

$debug = false
$borderRadius= 4px

/* Color variables */
$purple = #9013FE
$green = #00C458
$yellow = #FEDD00 

$bgColor = #ECECEA
$lightGrey = #fafafa
$grey = rgba(0,0,0,0.6)
$fulltimeColor = $purple
$freelanceColor = #00AFFE
$parttimeColor = $green
$fontColor = #666
$linkColor = $brandPrimary
$brandPrimary = #28AFCA //$fontColor
$fbColor = #43599B
$twitterColor = #3BAAF1
$emailColor = coral
	

$btnBgColor = $brandPrimary
$btnBgColorHover = darken($brandPrimary, 20%)

/* Layout variables */
$wrapperWidth = 80%
