extends ../layout/layout.jade
block content
	.share-button
		span.icon.icon-share
		a.icon.icon-fb(href="javascript:;")
		a.icon.icon-twitter(href="javascript:;")
		a.icon.icon-email(href="javascript:;")

	.job-detail-title
		a.job-company-logo(href="javascript:;") 
			img(src="http://www.doz.com/cms/wp-content/uploads/2015/03/airbnb-logo.png")
		.container
			h2.title Desarrollador Front-end Junior
			a.job-company(href="javascript:;") Airbnb Inc.
			span.job-type.fulltime Full-time
			a.see-list.hide(href="../") ← Ver todos
	.container
		.main-content
			h3 Descripción del empleo
			p Nos encontramos en búsqueda de desarrolladores Web Front-End Senior o Semi-Senior con  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repudiandae aliquam facilis saepe dicta et, architecto asperiores rem enim, dolorum voluptatum, corrupti harum fugiat consequatur obcaecati ipsam eaque reiciendis beatae!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat incidunt placeat quo natus vero obcaecati minima accusamus eveniet quod quos molestiae optio voluptatem suscipit praesentium culpa, quas laudantium, sint, assumenda.
			h3 Requisitos indispensables
			ul 
				li HTML5 / CSS3
				li JavaScript / JQuery Desktop y Mobile
				li AngularJS, NodeJS
				li Integración con API's de Facebook, Twitter, Google+, LinkedIn
				li Normalize, Modernizr
			h3 Requisitos deseables
			ul 
				li HTML5 / CSS3
				li JavaScript / JQuery Desktop y Mobile
				li AngularJS, NodeJS
				li Integración con API's de Facebook, Twitter, Google+, LinkedIn
				li Normalize, Modernizr
			h3 Ofrecemos
			ul
				li Excelente ambiente laboral
				li Ingreso a planilla con beneficios de Ley
				li EPS Rimac al 50%
				li Proyectos y retos constantes
				li Capacitaciones, crecimiento profesional real
				li Uso irrestricto de internet para la constante investigación
				li Uso de equipos PC / Mac / Smartphones / Tabletas para el mejor desarrollo de los proyectos
				li Sueldo básico entre 3000 a 4500 nuevos soles bruto, de acuerdo a experiencia, calificación y proyección.
			h3 Cómo postular
			p Envía un correo a 
				a(href="mailto:jobs@airbnb.com") jobs@airbnb.com
				|  con el asunto Desarrollador front-end
			
		.sidebar
			.about-job-post
				.logo-container.hide 
					img(src="http://www.doz.com/cms/wp-content/uploads/2015/03/airbnb-logo.png")
				.about-content
					h3.company-name.hide Airbnb Inc.
					p.description.hide Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ex animi voluptates voluptatem culpa, necessitatibus ut, hic nesciunt exercitationem, quis voluptas, nam fugiat repellendus illum aliquid tempore eius. Est, dolor.
					h3 Más información
					p
						span.icon.icon-time 
						| Publicado el 29 Febrero
					p
						span.icon.icon-location
						| Lima, Perú
					a(href="http://airbnb.com", target="_blank") 
						span.icon.icon-link 
						| www.airbnb.com
					a(href="http://twitter.com/airbnb", target="_blank") 
						span.icon.icon-twitter
						| @airbnb
					
			.fel-ad
			.fel-ad