/*
* Font Styles
* @module fonts
**/
@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/Helvetica-webfont.eot?v=2016329");
  src: url("../../fonts/Helvetica/Helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Helvetica/Helvetica-webfont.woff?v=2016329") format("woff"), url("../../fonts/Helvetica/Helvetica-webfont.ttf?v=2016329") format("truetype"), url("../../fonts/Helvetica/Helvetica-webfont.svg?v=2016329#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "iconFonts";
  src: url("../../fonts/iconFonts/iconFonts-webfont.eot?v=2016329");
  src: url("../../fonts/iconFonts/iconFonts-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/iconFonts/iconFonts-webfont.woff?v=2016329") format("woff"), url("../../fonts/iconFonts/iconFonts-webfont.ttf?v=2016329") format("truetype"), url("../../fonts/iconFonts/iconFonts-webfont.svg?v=2016329#iconFonts") format("svg");
  font-style: normal;
  font-weight: normal;
}
