/*
* Layout
* @module layout
* @class header
*/
body.fixed
	header
		position fixed 
		width 100%
		z-index 1
		top 0
		.header-top
			display none
		.filter-search 
			padding 10px 0
			//transition all 0.3s ease-in
			border-bottom 1px solid lighten($brandPrimary, 80%)
			opacity 0.98
			.logo
				display initial
				font-size 2.5rem
				letter-spacing -2px
				margin-right 30px 
				flex 1
				transition font-size 0.3s ease
				text-align left 
				+mobile()
					display initial
				
			.search-bar
				width 30%
				+mobile()
					flex-basis 50%
				input
					padding-top 10px
					padding-bottom 10px
	.board
		margin-top 220px
header
	.nav
		display flex 
		align-items center
		padding 40px 0
		a:not(.logo) 
			margin 0 10px
			text-decoration none
			color $brandPrimary
			transition 0.3s all ease
			&:hover 
				color $btnBgColorHover
			+mobile()
				display none 
			
	.logo 
		flex 1
		font-size 4rem
		font-weight bold
		line-height 1
		letter-spacing -4px
		color lighten($brandPrimary, 20%)
		text-decoration none
		+mobile()
			text-align center 
				
		span 
			font-size 1.3rem
			letter-spacing 0
			font-weight normal
			margin-left 1rem
			color lighten($fontColor, 80%)	
			+mobile()
				display none 


.filter-search
	background lighten($brandPrimary, 95%) //$lightGrey
	padding 20px 0 
	//transition all 0.3s ease-in
	
	.container
		display flex
		align-items center
		flex-wrap wrap
	.separator
		border-left 1px solid #ccc 
		margin 0 1rem
		height 2.5rem
		width 1px
		display inline-block
		vertical-align middle
	.logo
		//display none 
		font-size 0
		flex 0
		transition font-size 0.3s ease
		
	.search-bar
		color #ccc
		position relative
		width 40%
		flex none
		+tablet()
			width 20%
		+mobile()
			//flex-basis 100%
			flex 1
		.icon
			position absolute
			top 12px
			left 10px
			color $brandPrimary
		input
			border-radius $borderRadius
			color $fontColor
			border none 
			padding 13px 10px 13px 40px
			width 100%
			font-size 1.1rem
			border 1px solid lighten($brandPrimary, 80%)
			
			&:focus 
				outline none 
				//box-shadow 0 0 2px $brandPrimary
	.icon-filter
		display none 
		+mobile()
			display initial
			//font-weight bold
			cursor pointer
			font-size 2rem
			margin-left 10px
			margin-right 0
			color $brandPrimary
			line-height 1.5
	.location
		border-left 1px solid darken($lightGrey,5%)
		border-right 1px solid darken($lightGrey,5%)
		flex 1
		margin 0 1rem
		+mobile()
			flex-basis 100%
			margin 10px 0 10px 0
			border none
			border-top 1px solid lighten($brandPrimary, 70%)
			border-bottom 1px solid  lighten($brandPrimary, 70%)
			transition all 0.3s ease
			&.hide-filter
				display none
				transition all 0.3s ease
				
		.select 
			margin auto
			display block 
			.icon
				position absolute
				color $brandPrimary //#ccc
				top 12px
				left 10px
			select
				padding-left 40px
	.job-type
		width 35%
		flex none
		display flex 
		+tablet()
			width 50% 
		+mobile()
			width 100%
			margin 5px 0
			transition all 0.3s ease
			&.hide-filter
				display none 
				transition all 0.3s ease
		input 
			position absolute
			opacity 0
			z-index -1
			&:checked ~ .control-indicator
				&:before
					display block
					color white 
					font-size 1rem
					text-align center
					margin-top 1px
				&.freelance
					background-color $freelanceColor
					border none
				&.fulltime
					background-color $fulltimeColor
					border none
				&.parttime
					background-color $parttimeColor
					border none
				
		.icon:before
			display none
			
		.control-indicator
			position absolute
			width 1.2rem
			height 1.2rem 
			border-radius $borderRadius
			border 2px solid $fontColor
			left 0
			&.freelance
				border-color $freelanceColor
			&.fulltime
				border-color $fulltimeColor
			&.parttime
				border-color $parttimeColor
				
		label 
			cursor pointer
			justify-content space-between
			flex 1 
			position relative
			padding-left 1.5rem
			