/*
* Buttons
* @module buttons
*/

.btn
	border none
	border-radius $borderRadius
	color white !important
	display inline-block
	font-family $familyPrimary
	padding 0.6rem 1rem
	position relative
	text-align center
	background $btnBgColor
	transition 0.5s all
	&:hover 
		background $btnBgColorHover
