/*
* Forms
* @module forms
*/
.select 
	position relative 
	display inline-block
	&:after
		position absolute
		top 50%
		right 1.25rem
		display inline-block
		content ""
		width 0
		height 0
		margin-top -.15rem
		pointer-events none
		border-top .35rem solid
		border-right .35rem solid transparent
		border-bottom .35rem solid transparent
		border-left .35rem solid transparent
	select 
		display inline-block
		width 100%
		margin 0
		padding .7rem 2.25rem .7rem 1rem
		line-height 1.5
		border 0
		cursor pointer 
		outline 0
		appearance none 
		background transparent