.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "iconFonts"
	font-size 22px
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	text-decoration inherit
	text-transform none
	vertical-align middle


.icon-calendar:before
	content "\E001"

.icon-check:before
	content "\E002"

.icon-email:before
	content "\E003"

.icon-fb:before
	content "\E004"

.icon-link:before
	content "\E005"

.icon-location:before
	content "\E006"

.icon-plane:before
	content "\E007"

.icon-pointer:before
	content "\E008"

.icon-search:before
	content "\E009"

.icon-share:before
	content "\E00A"

.icon-time:before
	content "\E00B"

.icon-twitter:before
	content "\E00C"
